body {
    /* background-color: #dec8ab; */
}

.navbar {
    background-color: #3e6c85; /*#5f513f;*/
}
#navbar-app-title {
    font-size: 14px;
    color: white;
    padding-top: 4px;
}
.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important; 
    padding-bottom:0 !important;
    height: 28px;
}
.navbar {min-height:28px !important;}

#main-content {
    margin-top: 50px;
    text-align: center;
}

#numbers-container {
    display: inline-block;
    /* visibility: hidden; */
    /* background-color: #988265; */
    /* width: 50%; */
    /* background-color: grey; */
}
.items {
    border: 1px solid black;
    height: 483px;
}
#numbers-title {
    color: white;
    background-color: #3e6c85;
    font-size: 18px;
}
#reload-numbers-button {
    float: right;
    width: 80px;
    height: 20px;
    padding: 0px;
    margin-top: 3px;
    margin-right: 10px;
}

#random-numbers {
    padding-top: 1px;
    text-align: center;
    display: inline-block;
}
/* .row {
    display:table-row;
}

.cell {
  background: #CCC;
  border-radius: 10px;
  border: 2px solid #AAA;
  display:table-cell;
  margin: 5px;
  padding: 5px;
  width: 200px;
} */

table{
    /* width:50%; */
    height:500px;
}
td{
    display: block;
    width: 50px;
    float: left;
    border:1px solid black;
    margin: 1px;
}

.odd > td	{ background-color:#eee; }
.even > td	{ background-color: #bbb; }