body {
    background-color: #dec8ab; /*#d2b48c;*/
}

.navbar {
    background-color: #3e6c85; /*#5f513f;*/
}

#main-content {
    margin-top: 50px;
    text-align: center;
}

#numbers-container {
    display: inline-block;
    background-color: #988265; /*#dec8ab;*/
    /* width: 50%; */
    /* background-color: grey; */
}
#numbers-title {
    color: white;
    background-color: #3e6c85;
    font-size: 32px;
}
#reload-numbers-button {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

#random-numbers {
    padding: 10px;
    text-align: center;
    display: inline-block;
}
/* .row {
    display:table-row;
}

.cell {
  background: #CCC;
  border-radius: 10px;
  border: 2px solid #AAA;
  display:table-cell;
  margin: 5px;
  padding: 5px;
  width: 200px;
} */

table{
    /* width:50%; */
    height:500px;
}
td{
    display: block;
    width: 50px;
    float: left;
    /* padding: 5px;
    margin:10px; */
    border:1px solid #ccc;
    /* color: white; */
}