#main-content {
    margin-top: 50px;
    text-align: center;
}

#numbers-container {
    display: inline-block;
    width: 50%;
    background-color: grey;
}
#numbers-title {
    background-color: rgba(87, 114, 202, 0.842);
    font-size: 32px;
}
#reload-button {
    float: right;
}

#random-numbers {
    text-align: center;
    display: inline-block;
}
/* .row {
    display:table-row;
}

.cell {
  background: #CCC;
  border-radius: 10px;
  border: 2px solid #AAA;
  display:table-cell;
  margin: 5px;
  padding: 5px;
  width: 200px;
} */

table{
    width:500px;
    height:500px;
}
table td{
    padding:10px;
    margin:10px;
    border:1px solid #ccc;
}