.pager {
	display: inline-block !important;
	background-color: #eee;
}

.pager div
{
	float: left;
	border: 1px solid black;
	margin: 5px;
	padding: 10px;
}

.pager div.disabled
{
	opacity: 0.25;
}

.pager .pageNumbers a
{
	display: inline-block;
	padding: 0 10px;
	color: black;
	font-weight: normal !important;
}

.pager .pageNumbers a.active
{
	text-decoration: underline !important;
	font-weight: bold !important;
	font-size: 1.25em !important;
}

.paginate-no-scroll .items div
{
	height: 250px;
}

.paginate {
    text-align: center;
}

.firstPage a, .previousPage a, .nextPage a, .lastPage a {
	color: black;
}

#update-pagination-items {
	display: none;
}